
<div ng-controller="StudentController as model">
  <div class="col-sm-12 hidden-print">
    <div class="row content">
      <button ng-click="model.add()" class="col-sm-2 btn btn-lg btn-primary">Add Student</button>
      <div class="col-sm-3">
        <div class="well">
          <csv-upload ng-model="model.ca"></csv-upload>
          <button ng-click="model.uploadStudents()" class="btn btn-primary">Upload Students</button>
        </div>
      </div>
    </div>
    <form class="content col-sm-4">
      <input type="text" placeholder="Search" ng-model="model.searchTerm" class="form-control">
    </form>
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <th>S/N</th>
        <th>Matric No</th>
        <th>Name</th>
        <th>College</th>
        <th>Departmart</th>
        <th>Major</th>
        <th>Level</th>
        <th>Mode of Entry</th>
        <th>E-mail</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="(key,student) in model.students | orderBy: '+lastName' | filter: model.searchTerm">
          <td>{{key + 1}}</td>
          <td>{{student.matricNo}}</td>
          <td>{{student.lastName | uppercase}}, {{student.firstName}} {{student.middleName}}</td>
          <td>{{student.college}}</td>
          <td>{{student.department}}</td>
          <td>{{student.major}}</td>
          <td>{{student.level}}</td>
          <td>{{student.modeOfEntry}}</td>
          <td>{{student.email}}</td>
          <td>
            <button ng-click="model.view(student.matricNo)" class="btn btn-primary">View Details</button>
            <button ng-click="model.uploadImg(student.matricNo)" class="btn btn-primary">Upload Image</button>
            <button ng-click="model.edit(student.matricNo)" class="btn btn-warning">Edit</button>
            <button ng-click="model.remove(student.matricNo)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>