//   Created by Bello J on 4/22/2016.
div(ng-controller="HodController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Hod
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Lecturer Id
                th Department Id

            tbody
                tr(ng-repeat="(key,hod) in model.departments | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{hod.lecturerId}}
                    td
                        span(ng-show="hod.departmentId == 1") Department of Accounting and Finance
                        span(ng-show="hod.departmentId == 2") Department of Biological Sciences
                        span(ng-show="hod.departmentId == 3") Department of Business Administration
                        span(ng-show="hod.departmentId == 4") Department of Chemical Sciences
                        span(ng-show="hod.departmentId == 5") Department of Economics
                        span(ng-show="hod.departmentId == 6") Department of Mass Communication
                        span(ng-show="hod.departmentId == 7") Department of Mathematical and Computer Sciences
                        span(ng-show="hod.departmentId == 2") Department of Physics with Electronics
                        span(ng-show="hod.departmentId == 2") Department of Political Science and Administration
                        span(ng-show="hod.departmentId == 2") Department of Sociology and Psychology
                    td
                        button.btn.btn-warning(ng-click="model.edit(hod.lecturerId)") Edit
                        button.btn.btn-danger(ng-click="model.remove(hod.lecturerId)") Delete

