//   Created by Bello J on 5/12/2016.
.modal-header
    h3.modal-title Level Adviser for A Level
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            .col-sm-10
                select.form-control(name="lecturerId" required ng-model="model.lecturerId")
                    option(value="") Lecturer
                    option(ng-repeat="lecturer in model.lecturers" value="{{lecturer.id}}") {{lecturer.lastName}}, {{lecturer.firstName}} {{lecturer.middleName}}
        .form-group
            .col-sm-10
                select.form-control(name="departmentId" required ng-model="model.departmentId")
                    option(value="") Department
                    option(ng-repeat="department in model.departments" value="{{department.id}}") {{department.name}}
        .form-group
            .col-sm-4
                select.form-control(name="levelId" required ng-model="model.levelId")
                    option(value="") Select Level
                    option(ng-repeat="level in model.levels" value="{{level.id}}") {{level.level}}
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel

