//   Created by Bello J on 5/17/2016.
div(ng-controller="LevelAdviserCourseSlipController as model")
    .col-sm-12
        .row.visible-print
            .col-sm-1
                img(src="img/logo.png")
            .col-sm-11.text-center
                h2 FOUNTAIN UNIVERSITY, OSOGBO
                h3 (University of Nasrul-Lahi-Il-Fatih Society)
                h4 {{model.college.name}}
        .row.visible-print
            span.col-sm-4 Session: {{model.session.session}}
            span.col-sm-4.col-sm-offset-4 Semester: {{model.semester.semester}}
                span(ng-show="model.semester.semester == 1") st Semester
                span(ng-show="model.semester.semester == 2") nd Semester
        div.visible-print
            span.row Department: {{model.student.department}}
            span.row Major: {{model.student.major}}
            span.row Name:&nbsp
                b {{model.student.lastName | uppercase}},&nbsp
                span {{model.student.firstName}} {{model.student.middleName}}
            span.row Matric Number: {{model.student.matricNo}}
        table.table.table-striped.table-bordered.table-condensed
            thead
                th Course Code
                th Course Title
                th Unit
                th Type
                th Action
            tbody
                tr(ng-repeat="course in model.registerredCourses | orderBy: '+code'")
                    td {{course.code}}
                    td {{course.title}}
                    td {{course.unit}}
                    td {{course.type}}
                    td
                        button.btn.btn-danger(ng-click="model.deleteCourse(course.id)") Delete Course

        span.row Total Units Registerred: {{model.counter}}
    .col-sm-6(ng-show="model.outstandings.length > 0")
        .panel.panel-danger
            .panel-heading
                .panel-title Outstanding Courses
            .panel-body
                table.table.table-striped.table-condensed
                    thead
                        th Course Code
                        th Action
                    tbody
                        tr(ng-repeat="outstanding in model.outstandings | orderBy: '+code'")
                            td {{outstanding.code}}
                            td
                                button.btn.btn-primary(ng-click="model.waveCourse(outstanding.code)") Wave Course
    .col-sm-6(ng-show="model.wavings.length > 0")
        .panel.panel-info
            .panel-heading
                .panel-title Waved Courses
            .panel-body
                table.table.table-striped.table-condensed
                    thead
                        th Course Code
                        th Action
                    tbody
                        tr(ng-repeat="waving in model.wavings")
                            td {{waving.code}}
                            td
                                button.btn.btn-primary(ng-click="model.unWaveCourse(waving.id)") Unwave Course