//   Created by Bello J on 5/12/2016.
div(ng-controller="LevelAdviserController as model")
    .col-sm-12
        .row.content
            button.col-sm-4.btn.btn-lg.btn-primary(ng-click="model.add()") Add Level Adviser for a Level
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Name
                th Department
                th Level
                th Actions
            tbody
                tr(ng-repeat="(key,levelAdviser) in model.levelAdvisers | orderBy: '+department' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{levelAdviser.lastName}}, {{levelAdviser.firstName}} {{levelAdviser.middleName}}
                    td {{levelAdviser.department}}
                    td {{levelAdviser.level}}
                    td
                        button.btn.btn-primary(ng-click="model.assignStudent(levelAdviser.id)") Assign Students
                        button.btn.btn-danger(ng-click="model.remove(levelAdviser.id)") Delete