div(ng-controller="StudentController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Student
            .col-sm-3
                .well
                    csv-upload(ng-model="model.std")
                    button.btn.btn-primary(ng-click="model.uploadStudents()") Upload Students
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-condensed.table-striped.table-bordered
            thead
                th S/N
                th Matric No
                th Name
                th College
                th Departmart
                th Major
                th Level
                th Mode of Entry
                th E-mail
                th Actions
            tbody
                tr(ng-repeat="(key,student) in model.students | orderBy: '+matricNo' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{student.matricNo}}
                    td {{student.lastName | uppercase}}, {{student.firstName}} {{student.middleName}}
                    td {{student.college}}
                    td {{student.department}}
                    td {{student.major}}
                    td {{student.level}}
                    td {{student.modeOfEntry}}
                    td {{student.email}}
                    td
                        button.btn.btn-primary(ng-click="model.view(student.matricNo)") View Details
                        button.btn.btn-primary(ng-click="model.uploadImg(student.matricNo)") Upload Image
                        button.btn.btn-warning(ng-click="model.edit(student.matricNo)") Edit
                        button.btn.btn-danger(ng-click="model.remove(student.matricNo)") Delete
