div(ng-controller="CourseController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Student
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Matric No
                th First Name
                th Middle Name
                th Last Name
                th College
                th Departmart
                th Major
                th Level
                th Mode of Entry
                th Session
                th Data of Birth
                th E-mail
                th Address
            tbody
                tr(ng-repeat="(key,student) in model.students | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{student.matricNo}}
                    td {{student.firstName}}
                    td {{student.middleName}}
                    td {{student.lastName}}
                    td {{student.collegeId}}
                    td {{student.departmentId}}
                    td {{student.majorId}}
                    td {{student.level}}
                    td {{student.modeOfEntry}}
                    td {{student.session}}
                    td {{student.dateBirth}}
                    td {{student.email}}
                    td {{student.address}}
                    td
                        button.btn.btn-warning(ng-click="model.edit(student.matricNo)") Edit
                        button.btn.btn-danger(ng-click="model.remove(student.matricNo)") Delete
