//
   Created by GHostEater on 08-Apr-16.
.col-sm-2
    .panel.panel-primary.text-center
        .panel-heading Profile Management
        .panel-body
            ul.nav.nav-pills.nav-stacked
                li(ui-sref-active="active")
                    a(ui-sref="profilesAdmin") Admins
                li(ui-sref-active="active")
                    a(ui-sref="profilesVoter") Voters