//   Created by Bello J on 4/27/2016.
.modal-header
    h3.modal-title Edit Session
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            label.control-label.col-sm-2 Session
            .col-sm-10
                input.form-control(type="text" name="session" required ng-model="model.session.session")
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel

