//   Created by Bello J on 4/22/2016.
.modal-header
    h3.modal-title Add College Officer
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            .col-sm-10
                input.form-control(type="text" name="firstName" required ng-model="model.firstName" placeholder="First Name")
        .form-group
            .col-sm-10
                input.form-control(type="text" name="middleName" required ng-model="model.middleName" placeholder="Middle Name")
        .form-group
            .col-sm-10
                input.form-control(type="text" name="lastName" required ng-model="model.lastName" placeholder="Last Name")
        .form-group
            .col-sm-10
                select.form-control(name="collegeId" required ng-model="model.collegeId")
                    option(value="") college
                    option(ng-repeat="college in model.colleges" value="{{college.id}}") {{college.name}}
        .form-group
            .col-sm-10
                input.form-control(type="text" name="email" required ng-model="model.email" placeholder="E-mail Address")
        .form-group
            .col-sm-10
                input.form-control(type="password" name="password" required ng-model="model.password" placeholder="Password")
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel

