//
   Created by GHostEater on 15-Apr-16.
div(ng-controller="CourseController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Course
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Course Code
                th Course Title
                th Unit
                th Semester
                th Prerequisites
                th Level
                th Actions
            tbody
                tr(ng-repeat="(key,course) in model.courses | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{course.code}}
                    td {{course.title}}
                    td {{course.unit}}
                    td
                        span(ng-show="course.semesterId == 1") 1st Semester
                        span(ng-show="course.semesterId == 2") 2nd Semester
                    td
                        div.sm-content(ng-repeat="pre in model.pres | orderBy: '+code' | filter: {code: course.code}")
                            small.text-success(ng-show="pre.active == 1") Active &nbsp
                            small.text-danger(ng-show="pre.active == 0") Inactive &nbsp
                            span {{pre.prerequisite}}
                            button(ng-click="model.changeStatus(pre.id,pre.active)").btn.btn-warning.btn-sm Change Status
                            button(ng-click="model.removePre(pre.id)").btn.btn-danger.btn-sm Remove
                    td {{course.level}}
                    td
                        button.btn.btn-primary(ng-click="model.addPre(course.code)") Add Prerequisites
                        button.btn.btn-warning.btn-primary(ng-click="model.edit(course.code)") Edit
                        button.btn.btn-danger(ng-click="model.remove(course.code)") Delete