//   Created by GHostEater on 21-Apr-16.
.modal-header
    h3.modal-title Add Course
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            label.control-label.col-sm-2 Course Code
            .col-sm-10
                input.form-control(type="text" name="code" required ng-model="model.code")
        .form-group
            label.control-label.col-sm-2 Course Title
            .col-sm-10
                input.form-control(type="text" name="title" required ng-model="model.title")
        .form-group
            label.control-label.col-sm-2 Course Unit
            .col-sm-10
                input.form-control(type="text" name="unit" required ng-model="model.unit")
        .form-group
            label.control-label.col-sm-2 Type
            .col-sm-10
                select.form-control(name="type" required ng-model="model.type")
                    option(value="E") Elective
                    option(value="C") Cumpulsory
        .form-group
            label.control-label.col-sm-2 Semester
            .col-sm-10
                select.form-control(name="semester" required ng-model="model.semester")
                    option(value="1") 1st Semester
                    option(value="2") 2nd Semester
        .form-group
            label.control-label.col-sm-2 Level
            .col-sm-10
                select.form-control(name="levelId" required ng-model="model.levelId")
                    option(ng-repeat="level in model.levels" value="{{level.id}}") {{level.level}}
        .form-group
            label.control-label.col-sm-2 Department
            .col-sm-10
                select.form-control(name="departmentId" required ng-model="model.departmentId")
                    option(ng-repeat="department in model.departments" value="{{department.id}}") {{department.name}}
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel