//   Created by Bello J on 4/23/2016.
div(ng-controller="CollegeController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add College
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th College Name
                th Acronym
                th Actions
            tbody
                tr(ng-repeat="(key,college) in model.colleges | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{college.name}}
                    td {{college.acronym}}
                    td
                        button.btn.btn-warning(ng-click="model.edit(college.id)") Edit
                        button.btn.btn-danger(ng-click="model.remove(college.id)") Delete



