
<!--   Created by GHostEater on 23-Apr-16.-->
<div ng-controller="HodAllocationController as model">
  <div class="col-sm-12">
    <div class="row content hidden-print">
      <button ng-click="model.allocate()" class="col-sm-2 btn btn-lg btn-primary">Allocate Course</button>
    </div>
    <div class="row hidden-print">
      <div class="col-sm-4">
        <select ng-model="model.sess" ng-change="model.changeSession(model.sess)" class="form-control">
          <option ng-repeat="session in model.sessions" value="{{session.id}}">{{session.session}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <select ng-model="model.semester.semester" class="form-control">
          <option value="1">1st Semester</option>
          <option value="2">2nd Semester</option>
        </select>
      </div>
    </div>
    <div class="row visible-print">
      <div class="col-sm-12"><img src="img/logo.png" class="center-block"></div>
      <div class="col-sm-12 text-center">
        <h2>FOUNTAIN UNIVERSITY, OSOGBO</h2>
        <h3>(University of Nasrul-Lahi-Il-Fatih Society)</h3>
        <h4>{{model.lecturer.college}}</h4>
        <h4>{{model.lecturer.department}}</h4>
      </div>
      <div class="col-sm-12">
        <h5>The Details of the Allocation of Courses for</h5>
      </div>
    </div>
    <div class="row"><span class="col-sm-4">Session: {{model.session.session}}</span><span class="col-sm-4 col-sm-offset-4">Semester: {{model.semester.semester}}<span ng-show="model.semester.semester == 1">st Semester</span><span ng-show="model.semester.semester == 2">nd Semester</span></span></div><span class="row">Department: {{model.lecturer.department}}</span>
    <table class="table table-striped table-bordered">
      <thead>
        <th>S/N</th>
        <th>Course Code</th>
        <th>Course Title</th>
        <th>Unit</th>
        <th>Level</th>
        <th>Lecturer</th>
        <th>Position</th>
        <th class="hidden-print">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="(key,allocation) in model.allocations | orderBy: '+code' | filter:{sessionId:model.session.id,semester:model.semester.semester}">
          <td>{{key +1 }}</td>
          <td>{{allocation.code}}</td>
          <td>{{allocation.title}}</td>
          <td>{{allocation.unit}}</td>
          <td>{{allocation.level}}</td>
          <td>{{allocation.lastName}}, {{allocation.firstName}} {{allocation.middleName}}</td>
          <td><span ng-show="allocation.position == 1">Coordinator</span><span ng-show="allocation.position == 2">Assissting Lecturer</span></td>
          <td class="hidden-print"><a href="/courseDetails/{{allocation.code}}" class="btn btn-primary">View Details</a>
            <button ng-click="model.remove(allocation.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>