//   Created by Bello J on 4/27/2016.
.modal-header
    h3.modal-title Delete LecturerRank
.modal-body
    p.text-center Are You Sure
.modal-footer
    button.btn.btn-danger(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel
