//   Created by Bello J on 4/27/2016.
div(ng-controller="MajorController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Major
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Major
                th Department
                th College
            tbody
                tr(ng-repeat="(key,major) in model.majors | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{major.name}}
                    td {{major.department}}
                    td {{major.college}}
                    td
                        button.btn.btn-warning(ng-click="model.edit(major.id)") Edit
                        button.btn.btn-danger(ng-click="model.remove(major.id)") Delete


