//   Created by Bello J on 4/27/2016.
.modal-header
    h3.modal-title Edit Major
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            label.control-label.col-sm-2 Major
            .col-sm-10
                input.form-control(type="text" name="name" required ng-model="model.major.name")
        .form-group
            label.control-label.col-sm-2 Department Id
            .col-sm-10
                select.form-control( name="departmentId" required ng-model="model.hod.collegeId")
                    option(ng-repeat="department in model.departments" value="{{department.id}}") {{department.name}}
        .modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel

