//   Created by Bello J on 4/23/2016.
div(ng-controller="AllocationController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Allocation
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Lecturer Id
                th Course Code
            tbody
                tr(ng-repeat="(key,allocation) in model.allocations | orderBy: '+code' | filter: model.searchTerm")
                    td {{key +1 }}
                    td {{allocation.lecturerId}}
                    td {{allocation.code}}
                                        td
                        button.btn.btn-warning(ng-click="model.edit(allocation.code)") Edit
                        button.btn.btn-danger(ng-click="model.remove(allocation.code)") Delete


