//   Created by Bello J on 4/23/2016.
.modal-header
    h3.modal-title Allocate Course
.modal-body
    form(name="model.form").form-horizontal
        div(ng-show="model.lecturerSelect == 0")
            .row.content
                form.content.col-sm-4
                    input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
            .table-responsive
                table.table.table-striped.table-condensed
                    thead
                        th Name
                        th College
                        th Department
                        th Action
                    tbody
                        tr(ng-repeat="lecturer in model.lecturers | filter: model.searchTerm")
                            td {{lecturer.lastName}}, {{lecturer.firstName}} {{lecturer.middleName}}
                            td {{lecturer.college}}
                            td {{lecturer.department}}
                            td
                                button.btn.btn-primary(ng-click="model.selectLecturer(lecturer.id)") Select
        div(ng-show="model.lecturerSelect == 1")
            h4 Selected Lecturer: {{model.lecturer.lastName}}, {{model.lecturer.firstName}} {{model.lecturer.middleName}}
            button.btn.btn-danger(ng-click="model.deSelectLecturer()") Remove Selection
            .form-group
                .col-sm-10
                    select.form-control(name="code" required ng-model="model.code")
                        option(value='') Course Code
                        option(ng-repeat="course in model.courses" value="{{course.code}}") {{course.code}}
            .form-group
                .col-sm-10
                    select.form-control(name="position" required ng-model="model.position")
                        option(value="") Position
                        option(value="1") Coordinator
                        option(value="2") Assisting Lecturer
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel
