//   Created by Bello J on 4/23/2016.
.modal-header
    h3.modal-title Edit Allocation
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            label.control-label.col-sm-2 Lecturer Id
            .col-sm-10
                input.form-control(type="text" name="lecturerId" required ng-model="model.allocation.lecturerId")
        .form-group
            label.control-label.col-sm-2 Course Code
            .col-sm-10
                input.form-control(type="text" name="code" required ng-model="model.allocation.code")
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel
