//Created by GHostEater on 03-May-16.
div(ng-controller="CourseDetailsController as model")
    .panel.panel-primary
        .panel-heading Course Details for {{model.course.code}} {{model.course.title}}
        .panel-body
            h4 Registerred Students
            table.table.table-bordered.table-striped
                thead
                    th S/N
                    th Matric No
                    th Name
                    th.text-center(colspan="4") Results
                    tr
                        th
                        th
                        th
                        th CA
                        th Exam
                        th Final Score
                        th Grade
                tbody
                    tr(ng-repeat="(key,student) in model.students | orderBy: '+matricNo'")
                        td {{key+1}}
                        td {{student.info.matricNo}}
                        td {{student.info.lastName}}, {{student.info.firstName}} {{student.info.middleName}}
                        td {{student.result.ca}}
                        td {{student.result.exam}}
                        td {{student.result.final}}
                        td {{student.result.grade}}
        .panel-footer.hidden-print
            .row.content
                csv-upload.col-sm-2(ng-model="model.ca")
                button.col-sm-2.btn.btn-primary(ng-click="model.uploadCA()") Upload CA
            .row.content
                csv-upload.col-sm-2(ng-model="model.exam")
                button.col-sm-2.btn.btn-primary(ng-click="model.uploadExam()") Upload Exam