//
   Created by GHostEater on 23-Apr-16.
div(ng-controller="HodAllocationController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.allocate()") Allocate Course
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Course Code
                th Course Title
                th Unit
                th Semester
                th Level
                th Prerequisite
                th Lecturer
                th Actions
            tbody
                tr(ng-repeat="(key,allocation) in model.allocations | orderBy: '+code' | filter: model.searchTerm")
                    td {{key +1 }}
                    td {{allocation.code}}
                    td {{allocation.title}}
                    td {{allocation.unit}}
                    td
                        span(ng-show="allocation.semesterId == 1") 1st Semester
                        span(ng-show="allocation.semesterId == 2") 2nd Semester
                    td {{allocation.level}}
                    td {{allocation.prerequisiteFor}}
                    td {{allocation.lastName}}, {{allocation.firstName}} {{allocation.middleName}}
                    td
                        button.btn.btn-primary View Details
                        button.btn.btn-danger(ng-click="model.remove(allocation.id)") Delete