//
   Created by GHostEater on 23-Apr-16.
div(ng-controller="HodAllocationController as model")
    .col-sm-12
        .row.content.hidden-print
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.allocate()") Allocate Course
        .row.hidden-print
            .col-sm-4
                select.form-control(ng-model="model.sess" ng-change="model.changeSession(model.sess)")
                    option(ng-repeat="session in model.sessions" value="{{session.id}}") {{session.session}}
            .col-sm-4
                select.form-control(ng-model="model.semester.semester")
                    option(value="1") 1st Semester
                    option(value="2") 2nd Semester
        .row.visible-print
            .col-sm-12
                img.center-block(src="img/logo.png")
            .col-sm-12.text-center
                h2 FOUNTAIN UNIVERSITY, OSOGBO
                h3 (University of Nasrul-Lahi-Il-Fatih Society)
                h4 {{model.lecturer.college}}
        .row
            span.col-sm-4 Session: {{model.session.session}}
            span.col-sm-4.col-sm-offset-4 Semester: {{model.semester.semester}}
                span(ng-show="model.semester.semester == 1") st Semester
                span(ng-show="model.semester.semester == 2") nd Semester
        span.row Department: {{model.lecturer.department}}
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Course Code
                th Course Title
                th Unit
                th Level
                th Lecturer
                th.hidden-print Actions
            tbody
                tr(ng-repeat="(key,allocation) in model.allocations | orderBy: '+code' | filter:{sessionId:model.session.id,semester:model.semester.semester}")
                    td {{key +1 }}
                    td {{allocation.code}}
                    td {{allocation.title}}
                    td {{allocation.unit}}
                    td {{allocation.level}}
                    td {{allocation.lastName}}, {{allocation.firstName}} {{allocation.middleName}}
                    td.hidden-print
                        a(href="#/courseDetails/{{allocation.code}}").btn.btn-primary View Details
                        button.btn.btn-danger(ng-click="model.remove(allocation.id)") Delete