//
   Created by GHostEater on 23-Apr-16.
div(ng-controller="MyCoursesController as model")
    .col-sm-12
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th Course Code
                th Course Title
                th Unit
                th Level
                th Actions
            tbody
                tr(ng-repeat="(key,allocation) in model.allocations | orderBy: '+code' | filter: model.searchTerm")
                    td {{key +1 }}
                    td {{allocation.code}}
                    td {{allocation.title}}
                    td {{allocation.unit}}
                    td {{allocation.level}}
                    td
                        a(href="#/courseDetails/{{allocation.code}}").btn.btn-primary View Details