//   Created by Bello J on 4/22/2016.
div(ng-controller="AcademicAffairController as model")
    .col-sm-12
        .row.content
            button.col-sm-3.btn.btn-lg.btn-primary(ng-click="model.add()") Add Academic Affair Officer
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th First Name
                th Middle Name
                th Last Name
                th E-mail
            tbody
                tr(ng-repeat="(key,academicAffair) in model.academicAffairs | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{academicAffair.lastName}}, {{academicAffair.firstName}} {{academicAffair.middleName}}
                    td {{AcademicAffair.email}}
                    td
                        button.btn.btn-warning(ng-click="model.edit(AcademicAffair.id)") Edit
                        button.btn.btn-danger(ng-click="model.remove(AcademicAffair.id)") Delete




