//   Created by Bello J on 4/22/2016.
.modal-header
    h3.modal-title Edit Department
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            label.control-label.col-sm-2 Department Name
            .col-sm-10
                input.form-control(type="text" name="name" required ng-model="model.department.name")
        .form-group
            label.control-label.col-sm-2 College Id
            .col-sm-10
                select.form-control( name="collegeId" required ng-model="model.department.collegeId")
                    option(ng-repeat="college in model.colleges" value="{{college.id}}") {{college.name}}
        .form-group
            label.control-label.col-sm-2 Acronym
            .col-sm-10
                input.form-control(type="text" name="acronym" required ng-model="model.department.acronym")
        .modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel

