//
   Created by Bello J on 4/21/2016.
div(ng-controller="LecturerController as model")
    .col-sm-12
        .row.content
            button.col-sm-2.btn.btn-lg.btn-primary(ng-click="model.add()") Add Lecturer
        form.content.col-sm-4
            input.form-control(type="text" placeholder="Search" ng-model="model.searchTerm")
        table.table.table-striped.table-bordered
            thead
                th S/N
                th lecturerId
                th First Name
                th Middle Name
                th Last Name
                th Rank
                th Status
                th College
                th Departmart
                th Phone Number
                th E-mail
                th Address
            tbody
                tr(ng-repeat="(key,lecturer) in model.lecturers | orderBy: '+code' | filter: model.searchTerm")
                    td {{key + 1}}
                    td {{lecturer.lecturerId}}
                    td {{lecturer.firstName}}
                    td {{lecturer.middleName}}
                    td {{lecturer.lastName}}
                    td {{lecturer.rank}}
                    td {{lecturer.status}}
                    td {{lecturer.college}}
                    td {{lecturer.department}}
                    td {{lecturer.phoneNumber}}
                    td {{lecturer.email}}
                    td {{lecturer.address}}
                    td
                        button.btn.btn-warning(ng-click="model.edit(lecturer.lecturerId)") Edit
                        button.btn.btn-danger(ng-click="model.remove(lecturer.lecturerId)") Delete


