//
   Created by Bello J on 4/21/2016.
.modal-header
    h3.modal-title Add Lecturer
.modal-body
    form(name="model.form").form-horizontal
        .form-group
            .col-sm-10
                input.form-control(type="text" name="firstName" required ng-model="model.firstName" placeholder="First Name")
        .form-group
            .col-sm-10
                input.form-control(type="text" name="middleName" required ng-model="model.middleName" placeholder="Middle Name")
        .form-group
            .col-sm-10
                input.form-control(type="text" name="lastName" required ng-model="model.lastName" placeholder="Last Name")
        .form-group
            .col-sm-10
                select.form-control(name="rankId" required ng-model="model.rankId")
                    option(value="") Lecturer Rank
                    option(ng-repeat="rank in model.ranks" value="{{rank.id}}") {{rank.rank}}
        .form-group
            .col-sm-10
                select.form-control(name="statusId" required ng-model="model.statusId")
                    option(value="") Lecturer Status
                    option(ng-repeat="status in model.statuss" value="{{status.id}}") {{status.status}}
        .form-group
            .col-sm-10
                select.form-control(name="collegeId" required ng-model="model.collegeId")
                    option(value="") College
                    option(ng-repeat="college in model.colleges" value="{{college.id}}") {{college.acronym}}
        .form-group
            .col-sm-10
                select.form-control(name="departmentId" required ng-model="model.departmentId")
                    option(value="") Department
                    option(ng-repeat="department in model.departments" value="{{department.id}}") {{department.name}}
        .form-group
            .col-sm-10
                input.form-control(type="text" name="phoneNumber" required ng-model="model.phoneNumber" placeholder="Phone Number")
        .form-group
            .col-sm-10
                input.form-control(type="text" name="email" required ng-model="model.email" placeholder="E-mail Address")
        .form-group
            .col-sm-10
                input.form-control(type="text" name="address" required ng-model="model.address" placeholder="Address")
        .form-group
            .col-sm-10
                input.form-control(type="password" name="password" required ng-model="model.password" placeholder="Password")
.modal-footer
    button.btn.btn-primary(ng-click="model.ok()") Confirm
    button.btn.btn-default(ng-click="$dismiss()") Cancel

