
<!--Created by GHostEater on 19-Feb-16.
-->
<div ng-controller="LoginController as login">
  <div class="row">
    <section class="col-sm-4 col-sm-offset-4">
      <form name="loginForm">
        <div class="panel panel-success">
          <div class="panel-heading">Login</div>
          <div class="panel-body"><small ng-show="login.userError === true" class="text-danger">Username is Incorrect</small>
            <input type="text" ng-model="login.username" placeholder="Username" class="form-control"><small ng-show="login.passError === true" class="text-danger">Password is Incorrect</small>
            <input type="password" ng-model="login.password" placeholder="Password" class="form-control">
            <button ng-click="login.login(login.username,login.password)" class="btn btn-primary form-control">Login</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>