//
   Created by Bello J on 6/12/2016.
div(ng-controller="AdminResultBroadSheetController as model")
    .col-sm-12
        .row
            span.col-sm-4
                img(src="img/logo.png")
            span.col-sm-8
                h2 FOUNTAIN UNIVERSITY, OSOGBO
                h3 (University of Nasrul-Lahi-Il-Fatih Society)
                h3 {{model.session.session}} &nbsp
                    span(ng-show="model.semester.semester == 1") First Semester Examination Results
                    span(ng-show="model.semester.semester == 2") Second Semester Examination Results
        .row
            span Department: {{model.department.name}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLevel: {{model.level.level}}
        .row
            span Programmme: B.Sc &nbsp
            span(ng-show="model.lecturer.college.id == 2") (Hons.)
            span {{model.major.name}}
        .row.hidden-print
            .col-sm-2(ng-show="model.user.sysRank == 6")
                select.form-control(ng-model="model.coll" ng-change="model.changeCollege(model.coll)")
                    option(value="") Select College
                    option(ng-repeat="college in model.colleges" value="{{college.id}}") {{college.acronym}}
            .col-sm-2(ng-show="model.user.sysRank == 6 || model.user.sysRank == 2")
                select.form-control(ng-model="model.dept" ng-change="model.changeDepartment(model.dept)")
                    option(value="") Select Department
                    option(ng-repeat="department in model.departments" value="{{department.id}}") {{department.name}}
            .col-sm-2(ng-show="model.user.sysRank == 2 || model.user.sysRank == 6")
                select.form-control(ng-model="model.mj" ng-change="model.changeMajor(model.mj)")
                    option(value="") Select Major
                    option(ng-repeat="major in model.majors" value="{{major.id}}") {{major.name}}
            .col-sm-2(ng-show="model.user.sysRank == 2 || model.user.sysRank == 6")
                select.form-control(ng-model="model.lvl" ng-change="model.changeLevel(model.lvl)")
                    option(value="") Select Level
                    option(ng-repeat="level in model.levels" value="{{level.id}}") {{level.level}}
            .col-sm-2
                select.form-control(ng-model="model.sess" ng-change="model.changeSession(model.sess)")
                    option(ng-repeat="session in model.sessions" value="{{session.id}}") {{session.session}}
            .col-sm-2
                select.form-control(ng-model="model.semester.semester")
                    option(value="1") 1st Semester
                    option(value="2") 2nd Semester
        .panel.panel-info
            .panel-body
                .well
                    table.table.table-striped.table-bordered
                        thead(style="font-size: 0.7em")
                            th(width="1%") S/N
                            th(width="5%") Matric No
                            th(width="30%").text-center Courses
                            th(width="20%").text-center Outstanding
                            th(colspan=3) Previous
                            th(colspan=3) Present
                            th(colspan=3) FINAL
                            th(width="2%") Remark
                            tr
                                th
                                th
                                th
                                th
                                th(width="1%") TCP
                                th(width="1%") TNU
                                th(width="1%") CGPA
                                th(width="1%") TCP
                                th(width="1%") TNU
                                th(width="1%") GPA
                                th(width="1%") CTCP
                                th(width="1%") CTNU
                                th(width="1%") CGPA
                        tbody(style="font-size: 0.7em")
                            tr(ng-repeat="(key,gp) in model.gps | orderBy:'+matricNo' | filter:{info:{collegeId:model.college.id," +
                            "departmentId:model.department.id},gp:{levelId:model.level.id," +
                            "majorId:model.major.id,semester:model.semester.semester,sessionId:model.session.id}}")
                                td {{key + 1}}
                                td {{gp.gp.matricNo}}
                                td
                                    div(ng-repeat="res in gp.result | filter:{sessionId:model.session.id,semester:model.semester.semester}")
                                        div.col-sm-4
                                            span {{res.code}} &nbsp
                                            span {{res.unit}} &nbsp
                                            span {{res.final}} &nbsp
                                            span {{res.grade}},
                                td
                                    div(ng-repeat="res in gp.fails")
                                        div.col-sm-6
                                            span {{res.code}} &nbsp
                                            span REP,
                                    div(ng-repeat="res in gp.outstandings")
                                        div.col-sm-6
                                            span {{res.code}} &nbsp
                                            span AR,
                                td {{gp.gp.prev_ctcp}}
                                td {{gp.gp.prev_ctnu}}
                                td {{gp.gp.prev_cgpa | number:2}}
                                td {{gp.gp.tcp}}
                                td {{gp.gp.tnu}}
                                td {{gp.gp.gpa | number:2}}
                                td {{gp.gp.ctcp}}
                                td {{gp.gp.ctnu}}
                                td {{gp.gp.cgpa | number:2}}
                                td
                                    span(ng-show="gp.resultFail.length == 0") PASS
                                    span(ng-show="gp.resultFail.length > 0 && gp.gp.statusId == 2") PCSO
                                    span(ng-show="gp.resultFail.length > 0 && gp.gp.statusId == 3") PROBATION
                                    span(ng-show="gp.resultFail.length > 0 && gp.gp.statusId == 4") WITHDRAWAL
        .row.visible-print
            .col-sm-4
                span {{model.levelAdviser.lastName | uppercase}}, {{model.levelAdviser.firstName}} {{model.levelAdviser.middleName}}
                br
                span ___________________________________&nbsp
                br
                span Level Adviser {{model.level.level}} Level Signature/Date
            .col-sm-4
                span {{model.hod.lastName | uppercase}}, {{model.hod.firstName}} {{model.hod.middleName}}
                br
                span ___________________________________&nbsp
                br
                span Head of {{model.department.name}}'s Signature/Date
            .col-sm-4
                span Dean of College: ____________________________&bnsp
                br
                span Signature/Date