//Created by GHostEater on 09-May-16.
div(ng-controller="MyResultController as model")
    .row
        .col-sm-4
            select.form-control(ng-model="model.sess" ng-change="model.changeSession(model.sess)")
                option(ng-repeat="session in model.sessions" value="{{session.id}}") {{session.session}}
    .panel.panel-primary
        .panel-heading Result for {{model.student.matricNo}} {{model.student.lastName}}, {{model.student.firstName}} {{model.student.middleName}}
        .panel-body
            .panel.panel-info
                .panel-heading {{model.session.session}}
                .panel-body
                    h5 1st Semester
                    .well
                        table.table.table-striped
                            thead
                                th Course Code
                                th Course Title
                                th Unit
                                th Grade
                            tbody
                                tr(ng-repeat="result in model.results | orderBy:'+code' | filter:{sessionId:model.session.id,semester:'1'}")
                                    td {{result.code}}
                                    td {{result.title}}
                                    td {{result.unit}}
                                    td {{result.grade}}
                    h5 2nd Semester
                    .well
                        table.table.table-striped
                            thead
                                th Course Code
                                th Course Title
                                th Unit
                                th Grade
                            tbody
                                tr(ng-repeat="result in model.results | orderBy:'+code' | filter:{semester:'2'}")
                                    td {{result.code}}
                                    td {{result.title}}
                                    td {{result.unit}}
                                    td {{result.grade}}